
.bg{
  background-image: url('../src/assets/cardbg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

a.active{
  background-color: #85a1c6;
}

.bg-field{
  background-image: url('./assets/bg-field.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}